.btn-tiny {
    height: 30px !important;
    width: 30px !important;
}

.fluid-flex {
    flex-grow: 1 !important;
    max-width: unset !important;
}

.root-container, .application--wrap {
    background-color: white;
}